*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
   background: #052049;
}

.calendar-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  flex-grow: 1;
  padding: 1rem 2rem;
  color: #EEE;
}

.calendar {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  padding: 1rem 2rem 3rem;
  background: #EEE;
}

.row {
  display: flex;
  height: 3rem;
}

.week {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
}

.hours {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cell,
.day,
.hours {
  flex-grow: 1;
  flex-basis: 0;
}

.cell {
  min-width: 6rem;
}

.title {
  font-weight: 700;
  padding-bottom: 1rem;
}

.day {
  padding: 1rem;
  min-width: 6rem;
  min-height: 6rem;
  border: 1px solid grey;
  margin-left: -1px;
  margin-top: -1px;
}

.text-center {
  text-align: center;
}


