*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
   background: #052049;
}

.calendar-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  flex-grow: 1;
  padding: 1rem 2rem;
  color: #EEE;
}

.calendar {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  padding: 1rem 2rem 3rem;
  background: #EEE;
}

.row {
  display: flex;
  height: 3rem;
}

.week {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  overflow-y: auto;
}

.week-hours {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
  white-space: nowrap;
  padding-right: 1rem;
}

.week-hour {
}

.cell,
.day,
.hours {
  flex-grow: 1;
  flex-basis: 0;
}

.cell {
  min-width: 6rem;
}

.title {
  font-weight: 700;
  padding-bottom: 1rem;
}

.day,
.week-day {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  min-width: 6rem;
  min-height: 6rem;
  border: 1px solid grey;
  margin-left: -1px;
  margin-top: -1px;
  flex-grow: 1;
  justify-content: space-between;
}

.event-column {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.event {
  position: absolute;
}

.week-day {
  position: relative;
  padding: 0;
}

.day-hour {
  border: 1px solid black;
  margin-left: -1px;
  margin-top: -1px;
}
.text-center {
  text-align: center;
}


