*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
   padding: 1rem;
}

.control {
  height: 3rem;
  display: table;
  table-layout: fixed;
  white-space: nowrap;
  margin-bottom: 2rem;
}

.control > a {
  display: table-cell;
  position: relative;
  width: auto;
  overflow: hidden;
  color: inherit;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 1rem;
  border: 1px solid #DDD;
  color: #1A1A1A;
  line-height: 3rem;
  background: #EEE;
  transition: background 0.25s linear;
}

.control > a:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border-right-width: 0px;
}

.control > a:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-left-width: 0px;
}

.control > a:active,
.control > a:hover {
  color: black;
  background: #FFF;
}

.calendar {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background: white;
  /* placeholder height for the calendar*/
  /* this is viewport height minus the header height */
  height: calc(100vh - 3rem);
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.week {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  padding-top: 1rem;
  overflow-y: auto;
}

.week-day {
  height: 1518px;
}

.week-hours {
  height: 1518px;
  list-style: none;
  text-align: right;
  white-space: nowrap;
  padding-right: 1rem;
}

.week-hour {
  height: 66px;
  line-height: 0;
  margin-top: -3px;
}

.cell,
.day,
.hours {
  flex-grow: 1;
  flex-basis: 0;
}

.cell {
  min-width: 6rem;
}

.title {
  font-weight: 700;
  padding-bottom: 1rem;
}

.day,
.week-day,
.week-day-full {
  flex-basis: 14.285%;
  list-style: none;
  padding: 1rem;
  min-width: 6rem;
  min-height: 6rem;
}

.week-day-full {
  flex-basis: 0;
  flex-grow: 1;
  padding: 0;
  position: relative;
}

.event-column {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.event {
  position: relative;
  background: #F1F0F8;
  border-left: 4px solid #6F6DB0;
  margin-top: -3px;
}

.week-day {
  position: relative;
  padding: 0;
}

.day-hour {
  height: 63px;
  border-top: 1px solid #eee;
}

.day-half-hour {
  width: 100%;
  height: 31px;
  border-bottom: 1px dotted #eee;
}

.text-center {
  text-align: center;
}


