*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
}

.calendar-container {
  display: flex;
  position: relative;
  height: 100vh;
}

.calendar {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background: white;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.week {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  padding-top: 1rem;
  overflow-y: auto;
}

.week-day {
  height: 1518px;
}

.week-hours {
  height: 1518px;
  list-style: none;
  text-align: right;
  white-space: nowrap;
  padding-right: 1rem;
}

.week-hour {
  height: 66px;
  line-height: 0;
  margin-top: -3px;
}

.cell,
.day,
.hours {
  flex-grow: 1;
  flex-basis: 0;
}

.cell {
  min-width: 6rem;
}

.title {
  font-weight: 700;
  padding-bottom: 1rem;
}

.day,
.week-day {
  flex-basis: 14.285%;
  list-style: none;
  padding: 1rem;
  min-width: 6rem;
  min-height: 6rem;
}

.event-column {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.event {
  position: relative;
}

.week-day {
  position: relative;
  padding: 0;
}

.day-hour {
  height: 63px;
  border-top: 1px solid #eee;
}

.day-half-hour {
  width: 100%;
  height: 31px;
  border-bottom: 1px dotted #eee;
}

.text-center {
  text-align: center;
}


