{{#el-daily-calendar date=date events=events as |hours|}}
<div class="week">
  <ul class="week-hours">
    {{#each hours as |hour|}}
      <li class="week-hour">{{hour.formattedHour}}</li>
    {{/each}}
  </ul>

    <ul class="week-day-full">
      <li class="event-column">
        {{#each hour.events as |event|}}
          {{calendar-event event=event}}
        {{/each}}
      </li>
      {{#each hours as |hour|}}
        <li class="day-hour">
          <div class="day-half-hour"></div>
        </li>
      {{/each}}
    </ul>
</div>
{{/el-daily-calendar}}
