{{#el-daily-calendar date=date events=events as |hours|}}
<div class="week">
  <ul class="week-hours">
    {{#each hours as |hour|}}
      <li class="week-hour">{{hour.formattedHour}}</li>
    {{/each}}
  </ul>

  {{#each hours as |hour|}}
    <div class="week-day">
      <div class="event-column">
        {{#each hour.events as |event|}}
          {{calendar-event event=event}}
        {{/each}}
      </div>
    </div>
  {{/each}}
</div>
{{/el-daily-calendar}}
