{{#el-monthly-calendar date=model.date events=model.events as |weeks|}}
  <div class="row">
    {{#each weeks.firstObject.days as |day|}}
      <div class="cell title">
        {{formatted-date day.date type='day-of-week'}}
      </div>
    {{/each}}
  </div>
  {{#each weeks as |week|}}
    <div class="week">
      {{#each week.days as |day|}}
        <div class="day">
          {{#link-to 'daily' day.formattedDate}}
            {{formatted-date day.date type='monthly-day'}}
          {{/link-to}}

          {{#if day.events}}
            <div class="events">
              {{#each day.events as |event|}}
                <div class="event">
                  {{event.name}}
                </div>
              {{/each}}
            </div>
          {{/if}}
        </div>
      {{/each}}
    </div>
  {{/each}}
{{/el-monthly-calendar}}
