<div class="calendar-container">

  {{#el-weekly-calendar date=date events=events as |days|}}
      <div class="calendar">
        <div class="row week-titles">
          <div class="cell">
          </div>
          {{#each days as |day|}}
            <div class="cell title">
              {{day.dayName}}
              {{day.formattedDate}}
            </div>
          {{/each}}
        </div>
      <div class="week">
        <ul class="week-hours">
          {{#each days.firstObject.hours as |hour|}}
            <li class="week-hour">{{hour.formattedHour}}</li>
          {{/each}}
        </ul>
        {{#each days as |day|}}
          <div class="week-day">
            <div class="event-column">
              {{#each day.events as |event|}}
                {{weekly-event event=event}}
              {{/each}}
            </div>
            {{#each day.hours as |hour|}}
              <div class="day-hour">
              </div>
            {{/each}}
          </div>
        {{/each}}
      </div>
    </div>
  {{/el-weekly-calendar}}
</div>
